body {
  color: white;
  text-align: center;
  background: #24aecd;
}

.siteLink {
    color: white;
    transition: all 0.5s ease;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
}

@-webkit-keyframes play {
  from {
        background-position-x: 0;
    }
    to {
        background-position-x: -551px;
    }
}
@-moz-keyframes play {
  from {
        background-position-x: 0;
    }
    to {
        background-position-x: -551px;
    }
}
@keyframes play {
  from {
        background-position-x: 0;
    }
    to {
        background-position-x: -551px;
    }
}

@-webkit-keyframes playY {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: -304px;
  }
}

@-moz-keyframes playY {
from {
  background-position-y: 0;
}
to {
  background-position-y: -304px;
}
}
  @keyframes playY {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: -304px;
  }
}

@-webkit-keyframes animatedBackground {
	from {
    background-position: 0 0;
  }
	to {
    background-position: 100% 0;
  }
}
@-moz-keyframes animatedBackground {
	from {
    background-position: 0 0;
  }
	to {
    background-position: 100% 0;
  }
}
@keyframes animatedBackground {
	from {
    background-position: 0 0;
  }
	to {
    background-position: 100% 0;
  }
}

.container {
  margin: 1% auto;
}

.animate-area	{
  position: relative;
  margin: 1% auto;
	width: 80%;
	height: 190px;
	background: url("https://davidwalsh.name/demo/bg-clouds.png");
	background-position:center center ;

	-webkit-animation: animatedBackground 40s linear infinite;
  -moz-animation: animatedBackground 40s linear infinite;
  animation: animatedBackground 40s linear infinite;
}

.birdy {
    position: absolute;
    margin: 2% 40%;
    width: 100px;
    height: 100px;
    background: url("http://www.xojo3d.com/images/sprite1.png") center center;

  -webkit-animation: play .5s infinite steps(5) backwards, playY 1.5s infinite steps(3) backwards;
  -moz-animation: play .5s infinite steps(5) backwards, playY 1.5s infinite steps(3) backwards;
  animation: play .5s infinite steps(5) backwards,  playY 1.5s infinite steps(3) backwards;
}

a:hover {
    color: rgba(138, 194, 73, 0.83) !important;
}

span {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    display: inline-block;
    font-size: 30px;
}

.footerPara {
    line-height: 150%;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
    display: block;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 20px;
}
